<header class="header">
  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 col-lg-11 col-md-12">
        <!-- NAVBAR -->
        <nav class="header-nav">
          <a class="header-nav-item header-nav-item-primary" 
            routerLink="/home"
            routerLinkActive="active">
            Home
          </a>
          <a class="header-nav-item header-nav-item-primary" 
            routerLink="/cart"
            routerLinkActive="active">
           Cart 
           <span class="cart-badge" *ngIf="numberOfProductsInCart$ | async">
              {{ numberOfProductsInCart$ | async }}
           </span>
          </a>
        </nav>

        <!-- SIDEBAR: SMALL SCREENS -->
        <div class="burger-button" (click)="toggleSidebar()">
          <img [src]="burgerMenuPath" />  
          <span class="cart-badge" *ngIf="numberOfProductsInCart$ | async">
              {{ numberOfProductsInCart$ | async }}
          </span>
        </div>

        <div class="header-nav header-nav--mobile" [ngClass]="{show: isSidebarOpen}">
          <a class="header-nav-item header-nav-item-primary" 
            (click)="openLink($event, '/home')">
            Home
          </a>
          <a class="header-nav-item header-nav-item-primary" 
            (click)="openLink($event, '/cart')">
            Cart
          </a>
        </div>

      </div> <!-- div.col.navbar -->
    </div> <!-- div.row -->

  </div> <!-- div.container -->
</header>

