.img {
    max-width: 100%;
    height: auto;
}

.img-center {
    display: block;
    margin: auto;
}

.product-image {
    display: block;
    margin: auto;
    height: 200px;
    max-width: 100%;
    object-fit: scale-down;
}

.wrapper {
    @extend .d-none;
    @extend .md-d-inline-block;
    &--mobile {
        @extend .d-block;
        @extend .md-d-none;
    }
}


