.header-nav {
    @extend .float-r;
    &-item {
        position: relative;
        @include font-size($header-nav-item-font-size);
        @include line-height($header-nav-item-line-height);
        @include padding-horizontal($header-nav-item-padding-horizontal);
        @include padding-vertical($header-nav-item-padding-vertical);
        @extend .d-none;
        @extend .md-d-inline-block;
        &:hover {
            text-decoration: $header-nav-item-hover-text-decoration;
        }
    }
    &--mobile {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        height: calc(100% - 60px);
        background: $header-nav-item-mobile-bg;
        z-index: 1;
        transform: translateX(100%);
        transition: transform .3s ease;
        @extend .md-d-none;
        .header-nav-item {
            @extend .d-block;
        }
        &.show {
            transform: translateX(0);
        }
    }
}

.burger-button {
    @extend .float-r;
    @extend .md-d-none;
    @include padding-vertical($burger-padding-top-bottom);
}

.cart-badge {
    background-color: $cart-badge-bg;
    color: $cart-badge-color;
    text-align: center;
    vertical-align: middle; 
    display: inline-block;
    border-radius: 50%;
    width: $cart-badge-width-height;
    height: $cart-badge-width-height;
    line-height: $cart-badge-width-height;
    @include font-size($cart-badge-font-size);
}