// Maintitle
h1, .h1 {
    @include font-size($h1-fs);
    @include line-height($h1-lh);
    @include margin-bottom($h1-marg-b);
    @extend .fs-title;
    @extend .sm-fs-maintitle;
    font-weight: $h1-fw;
    &.normal {
        font-weight: $h1-normal-fw;
    }
    &.zero-margin-bottom {
        margin-bottom: 0 !important;
    }
}

// Title
h2, .h2 {
    @include font-size($h2-fs);
    @include line-height($h2-lh);
    @include margin-bottom($h2-marg-b);
    @extend .fs-subtitle;
    @extend .sm-fs-title;
    font-weight: $h2-fw;
    &.normal {
        font-weight: $h2-normal-fw;
    }
    &.zero-margin-bottom {
        margin-bottom: 0 !important;
    }
}

// Subtitle
h3, .h3 {
    @include font-size($h3-fs);
    @include line-height($h3-lh);
    @include margin-bottom($h3-marg-b);
    @extend .fs-body1;
    @extend .sm-fs-subtitle;
    font-weight: $h3-fw;
    &.normal {
        font-weight: $h3-normal-fw;
    }
    &.zero-margin-bottom {
        margin-bottom: 0 !important;
    }
}

h4, .h4 {
    @include font-size($h4-fs);
    @include line-height($h4-lh);
    @include margin-bottom($h4-marg-b);
    font-weight: $h4-fw;
    &.normal {
        font-weight: $h4-normal-fw;
    }
    &.zero-margin-bottom {
        margin-bottom: 0 !important;
    }
}

h5, .h5 {
    @include font-size($h5-fs);
    @include line-height($h5-lh);
    @include margin-bottom($h5-marg-b);
    font-weight: $h5-fw;
    &.normal {
        font-weight: $h5-normal-fw;
    }
    &.zero-margin-bottom {
        margin-bottom: 0 !important;
    }
}

h6, .h6 {
    @include font-size($h6-fs);
    @include line-height($h6-lh);
    @include margin-bottom($h5-marg-b);
    font-weight: $h6-fw;
    &.normal {
        font-weight: $h6-normal-fw;
    }
    &.zero-margin-bottom {
        margin-bottom: 0 !important;
    }
}
