input:not([type]),
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
	&.input {
		-webkit-appearance: none;
	    -moz-appearance: none;
	    box-shadow: none !important;
	    display: block;
	    font-family: inherit;
        -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-style: $default-input-border-style;
        border-top-width: 0 !important;
        border-right-width: 0 !important;
        border-left-width: 0 !important;
	    border-bottom-width: $default-input-border-width;
        font-weight: $default-input-font-weight;
	    -webkit-transition: $default-input-transition;
	    -moz-transition: $default-input-transition;
	    -ms-transition: $default-input-transition;
	    -o-transition: $default-input-transition;
	    transition: $default-input-transition;
        min-width: $default-input-min-width;
        background-color: transparent;
        padding-left: 0 !important;
        padding-right: $default-input-padding-left-right;
        @include padding-vertical($default-input-padding-top-bottom);
        @include height($default-input-height);
        @include font-size($default-input-font-size);
        @include line-height($default-input-line-height);
        &.input-quantity {
            font-weight: bold;
            background-color: transparent;
            width: 40px !important;
            padding-left: map-get($pad-independent, xs) !important;
            padding-right: map-get($pad-independent, xs) !important;
            border-bottom-color: $input-quantity-border-bottom-color !important;   
        }
        &.input-inline {
            display: inline !important;
        }
        &.input-textarea {
            padding-bottom: 0 !important;
        }
        &:focus,
        &.input-focus {
            outline: none;
        }
        
        &.input-whole-width {
            width: 100%;
        }
	}
}
