<div class="container" *ngIf="products$ | async">
    
    <div class="row justify-content-center">
        <div class="col-12 col-xl-9">
            <h2 class="marg-t-sm1">
                Products
            </h2>
        </div>
    </div>    

    <!-- PRODUCT BADGE -->
    <div class="row justify-content-center marg-v-xs">
        <div class="col-12 col-xl-3 col-lg-4 col-md-4 col-sm-6 marg-v-xs"  *ngFor="let product of products$ | async">
            <div class="image-card image-card-container">
                <img [src]="product.imageHref"
                    class="product-image">
                <div class="card-container">
                    <h5>{{ product.name }}</h5>
                    <h5 class="price-info">
                        {{ product.price[0].currency | currencyFormat }} 
                        {{ product.price[0].amount | priceFormat  }}
                    </h5>
                    <div class="text-c">
                        <button type="button"
                            (click)="addToCart(product.id)"
                            class="btn btn-primary btn-md marg-t-sm1">
                            Add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- ERROR DISPLAYING -->
    <div class="row justify-content-end marg-v-sm1" *ngIf="cartError$ | async">
        <div class="col-12">
            <div class="error-message"> 
            Sorry something went wrong. 
            {{ cartError$ | async }} 
            </div>
        </div>
    </div>

    <div class="row justify-content-end marg-v-sm1" *ngIf="productError$ | async">
        <div class="col-12">
            <div class="error-message"> 
            Sorry something went wrong. 
            {{ productError$ | async }} 
            </div>
        </div>
    </div>

</div>
